<form class="form-horizontal" ng-controller="requestsCtrl">
<h3 class="col-lg-6">received requests</h3>
<div class="col-lg-6 col-lg-offset-4" ng-repeat="item in requests">
                <h3>{{item}}</h3>
    <p><button ng-click="acceptRequest(item);clicked=!clicked" ng-class="{'btn btn-success':clicked,'btn-primary':!clicked}">Accept</button>
        <button ng-click="deleteRequest(item);clicked=!clicked" ng-class="{'btn btn-warning':clicked,'btn-default':!clicked}">Delete</button></p>
    </div>
</form>
