<form class="form-horizontal" ng-controller="settingsCtrl">
    <fieldset>
        <legend>Change Password</legend>
        <div class="form-group">
            <label class="col-lg-2 control-label">User Name</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="userName" placeholder="User Name" ng-model="changePassword.userName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Old Password</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="oldpassword" placeholder="Old Password" ng-model="changePassword.oldpassword">
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-lg-2 control-label">New Password</label>
            <div class="col-lg-6">
                <input type="password" class="form-control" id="newpassword" placeholder="New Password" ng-model="changePassword.newpassword">
            </div>
        </div>
      <div class="form-group">
            <label class="col-lg-2 control-label"> </label>
            <div class="col-lg-6 col-lg-offset-4">
                <button class="btn btn-primary" ng-click="changeUserPassword()">Change Password</button>
            </div>
        </div>
    </fieldset>
    {{changePassword}}
</form>